<h1>{{ title }}</h1>
<p>NASA logs objects that burn up in the Earth's atmosphere in an API. The aim of this project is to allow you to interrogate and display that data</p>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'hybrid'">
  <agm-marker *ngFor="let data of locations" [latitude]="data[0]" [longitude]="data[1]"></agm-marker>
</agm-map>

<p (click)="showdata()">location from map component:</p>

